.section{
    height:20rem;
    margin:6rem 1rem;
    padding-top: 5rem;
}
@media screen and (min-width:40rem){
    .section{
        margin:4rem 2rem;
    }
}

@media screen and (min-width:60rem){
    .section{
        margin:8rem 2rem;
    }
}

.fixo{
    position:fixed;
    z-index:40;
    width:100%;
}

.menu-01{
    border-bottom:red;
}


.fonte-customizada, .fonte-customizada:hover, .fonte-customizada:focus{
    color: #fff;
}


/* menu styles */
.menu-01:hover,.menu-02:hover,.menu-03:hover,.menu-04:hover{
  border-bottom: 3px solid rgba(255, 255, 255, 1.0);
}

@media screen and (max-width:640px){
	.menu-01:hover, .menu-02:hover, .menu-03:hover, .menu-04:hover{
		background: #d1d1d1;
		color:#000;
		border:none;
	}
}
.slide-show{
	margin-top:3.4em;
}
.empresa{
	background: url("../imagem/fundo-emp.jpg");
	width: 100%;
    color: #fff;
    margin: 0;
}
.servico{
	margin:0 auto;
	padding: 0;
	height: 40em;
	width:60em;
}
@media screen and (min-width:40em) and (max-width:60em){
    .servico{
		height:20em;
    }
}

@media screen and (min-width:60em){
    .servico{
		height:60em;
		width: 40em !important;
    }
}
.servico-titulo{
	padding:2em 0;
}
.fale-conosco{
	margin:2em;
}
.imagem-file {
  background-image: url("../imagem/baixar_imagem.jpg");
  background-size: cover;
  display: block;
  position: relative;
  height: 10%;
  width: 10%;
  padding: 2em;
  margin: 1em;
}
.button-file{
	opacity:0;
	-moz-opacity:0;
	filter:alpha(opacity:0);
	position: relative;
	z-index: 2;
}
.rodape{
	background:url("../imagem/fundo-emp.jpg");
	color:#fff;
	margin:0;
	padding:0;

}
@media screen and (max-width:640px){
	.rodape{
		height:100%;
	}
}
.rodape-conteudo{
	margin-top:2em;
}
.button-file{
	opacity:0;
	-moz-opacity:0;
	filter:alpha(opacity:0);
	position: relative;
	z-index: 2;
}
.rodape-conteudo img{
  height: 2em;
  width: 2em;
  margin-right: 1em;

}