.section{
    height:20rem;
    margin:2rem 1rem;
}

@media screen and (min-width:40rem){
    .section{
        margin:4rem 2rem;
    }
}
 
@media screen and (min-width:60rem){
    .section{
        margin:8rem 2rem;
    }
}



